.formContainer{
    background: #dacdcd99;
    box-shadow: 2px 2px 2px 2px grey;
    width: 30%;
    margin: 15px auto;
    padding: 20px;

}
.loginBtn{
    border: none;
    background: gray;
    color: white;
    padding: 5px 20px;
    box-shadow: 2px 2px 2px- 2px white;
    box-shadow: 2px 2px 2px 2px grey;
    margin-top: 10px;
}
input{
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px- 2px white;

}
.list{
    display: flex;
    justify-content: space-around;
}
.inputContainer{
    display: grid !important;
}